body {
    background-color: teal;
}

.headerTitle {
    font-family: 'Abril Fatface', cursive;
    font-weight: bold;
    text-decoration: underline;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(/img/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
    font-size: 5em;
    font-size: 200px;
    text-align: center;
    margin: 90px;
}

@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}

.cardsMovies {
    display: flex;
    flex-flow: row wrap; /* combination of flex-direction + flex-wrap */
    justify-content: center;
    align-items: center;
    margin: 120px 500px 350px 500px;
    padding: 0;
}

.card {
    margin: 30px;
    width: 70rem;
    height: 148rem;
    border-radius: 50px;
    background-color: #fff;
}

.cardBody {
    padding: 45px;
    overflow-y: auto;
}

.coverImg {
    width:  70rem;
    height: 100rem;
    border-radius: 50px;
    object-fit: cover; /* to make the image fit a specific container size */
}

.cardTitle {
    font-family: 'Abril Fatface', cursive;
    font-weight: bold;
    text-decoration: underline;
    color: teal;
    font-size: 5em;
}

.filmInfo {
    font-size: 50px;
}

h4 {
    color: #fff;
    font-size: 70px;
    text-align: center;
    bottom: 50px;
}